.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  
  --pr-color: white;
  --sc-color:#1E1E1E;
  --color1: #D9D9D9;
  --color2: #000000;
  --color3: #E95757;
  --color4: #111D27;
  --color5: #21932C;
  --color6: #3CB5DB;

  --bold:bold;
  
}

h1,h2,h3.h4,h5,p {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.cursor:hover {
 cursor: pointer;
}